@font-face {
  font-family: "IR-Sans";
  src: url("../font/irsans.ttf");
}
body, main, h1, h2, h3, h4 {
  margin: 0;
  font-family: Scheherazade, cursive;
}
a {
  text-decoration: none;
  color: white;
}
header {
  background-image: url("../pic/banner.jpg");
  background-size: cover;
  height: 10.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#login-com {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 16rem;
  height: 10rem;
  margin-left: 5rem;
}
#login-com #lang {
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 1rem;
}
#login {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(206, 0, 0);
  height: 2rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-com .com {
  height: 5.5rem;
  width: 6.5rem;
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-title {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
#logo {
  margin: 0 6rem 0 2rem;
  margin-top: 0.5rem;
}
header img {
  height: 7.5rem;
  width: 5rem;
}
header h2 {
  font-size: 4rem;
  font-family: Scheherazade, cursive;
  margin: 0;
}
header h2 a {
  color: white;
}
/* //////////////////////////////////////////// nav bar ///////////////////////////////////////////// */
nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 10.5rem;
  height: 3.7rem;
  z-index: 1;
}
ul {
  display: flex;
  margin: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
}
ul li {
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
  font-family: Scheherazade, cursive;
  width: 4rem;
  text-align: center;
}
.nav {
  color: white;
}
ul li:hover {
  border-bottom: 5px solid rgb(206, 0, 0);
  cursor: pointer;
}
.sub-menu {
  height: 29.3rem;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 3rem;
  position: fixed;
  top: 14.2rem;
  z-index: 1;
}
.thumb {
  height: 16rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}
.subs {
  height: 16rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
}
.subs a {
  margin-right: 6rem;
  font-size: 1.7rem;
  font-weight: bold;
}
.subs a:hover {
  opacity: 0.6;
}
#news-thumb-1 {
  background-image: url("../img/2019-season.jpg");
  margin-right: 6rem;
}
#news-thumb-2 {
  background-image: url("../img/italy.jpg");
  margin-left: 4rem;
}
.thumb h3 {
  margin-right: 2rem;
  font-size: 1.9rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
.thumb a {
  margin-right: 2rem;
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  background-color: darkred;
  height: 2.5rem;
  width: 8rem;
}
#team-thumb-1 {
  background-image: url("../img/first-team.jpg");
  margin-right: 6rem;
}
#team-thumb-2 {
  background-image: url("../img/first-women-team.jpg");
  margin-left: 4rem;
}
/* //////////////////////////////////////////  season menu ///////////////////////////////////////////// */
.season-thumb {
  height: 16rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
}
#season-thumb-1 {
  background-image: url("../img/serie-a-thumb.jpg");
  margin-right: 6rem;
}
#season-thumb-2 {
  background-image: url("../img/Coppa-Italia-TIM-Cup.jpg");
  margin-left: 4rem;
}
#season-sub-menu img {
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 1.7rem;
}
.season-thumb > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid whitesmoke;
  width: 90%;
  margin: 0 auto;
}
#season-sub-menu h3 {
  margin-right: 2rem;
  font-size: 1.9rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#season-sub-menu h4 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  height: 1.8rem;
}
.season-thumb a {
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  width: 8rem;
  height: 2rem;
  text-shadow: 1px 1px 2px black;
}
#season-thumb-2 a {
  margin-bottom: 2rem;
}
.season-thumb a:hover {
  opacity: 0.6;
}
/* ///////////////////////////////////////////////// club menu and gal menu /////////////////////////// */
#club-thumb-1 {
  background-image: url("../img/old-ac-milan.jpg");
  margin-right: 6rem;
}
#club-thumb-2 {
  background-image: url("../img/club-acmilan.jpg");
  margin-left: 4rem;
}
#gal-thumb-1 {
  background-image: url("../img/gal-pic-2003.jpg");
  margin-right: 6rem;
}
#gal-thumb-2 {
  background-image: url("../img/gal-video.jpg");
  margin-left: 4rem;
}
/* /////////////////////////////////   image slide /////////////////////////////////////// */
#news-slide-div {
  height: 29.3rem;
  position: relative;
  top: 14.2rem;
  display: flex;
}
#news-slide-div img {
  background-color: black;
  opacity: 0.6;
  padding: 0.7rem 1.5rem;
  position: absolute;
  top: 45%;
  cursor: pointer;
}
#right-arrow {
  right: 0;
}
#left-arrow {
  left: 0;
}
#first-img {
  background-image: url("../img/img-slide/milan-caligary.jpg");
  position: absolute;
}
#second-img {
  background-image: url("../img/img-slide/second.jpg");
  position: absolute;
  left: 100%;
  top: 0;
}
#third-img {
  background-image: url("../img/img-slide/third.jpg");
  position: absolute;
  left: 100%;
  top: 0;
}
.img-slide {
  background-position: top;
  background-size: cover;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  height: 29.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  padding-bottom: 2rem;
  padding-right: 6rem;
  box-sizing: border-box;
  width: 100%;
}
#news-slide-div a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: darkred;
  height: 2.5rem;
  width: 8rem;
  margin-top: 1.5rem;
}
.img-slide h1 {
  font-size: 4rem;
  line-height: 2.5rem;
}
.img-slide h2 {
  font-size: 2rem;
}
#other-content {
  height: 1000px;
  width: 100%;
  background-color: black;
  border: 5px solid darkred;
  box-sizing: border-box;
  margin-top: 14.2rem;;
  display: flex;
  justify-content: center;
  align-items: center;
}
#other-content h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
}